<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/ingredient_form.css">
<tr class="nested-fields">
  <td><%= f.input :name, label: false %></td>
  <td><%= f.input :amount, label: false %></td>
  <td><%= f.input :uom, label: false, as: :string %></td>
</tr>



