<!--<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/form.css">-->

<div id = "page-container">
  <header id = "header"> <%= @recipe.title %> </header>

  <div id = "content-wrap">
    <%= render 'form' %>
  </div>

  <%= link_to '<button type="button">Done</button>'.html_safe, recipes_path %>
  <footer id = "footer">Team Eggplantbert: Alex Eby, Tristin Colenso, Ethan Large, Roman Formicola</footer>
</div>