<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/form.css">

<div id = "page-container">
  <header id = "header"> New Recipe </header>
  <div id = "content-wrap">

    <%= render 'form' %>

    <%= link_to 'Back', recipes_path %>
  </div>
  <footer id = "footer">Team Eggplantbert: Alex Eby, Tristin Colenso, Ethan Large, Roman Formicola</footer>
</div>


