<div id = "page-container">
  <div class = 'header'>
    <h2> Meal Planner</h2>
  </div>
  <div id = "content-wrap">
    </br>
    <%= link_to '<button type="button">See Recipes </button>'.html_safe, controller: 'recipes' %>
    </br>
  </div>
  <footer id = "footer">Team Eggplantbert: Alex Eby, Tristin Colenso, Ethan Large, Roman Formicola</footer>
</div>

