#title {
    padding: 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    font-family: "Arial Narrow", serif;
}

.label{
    font-family: Arial, serif;
    font-size: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    padding-left: 20px;
    text-align: left;
    background: #1abc9c;
    color: white;
    font-size: 15px;
    font-family: "Arial Narrow", serif;
}
